@import "utils.css";
* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 320px;
  /* border: 2px solid red; */
  color: white;
}

.container h1 {
  font-family: var(--heading-font);
  font-size: var(--secondary-heading);
  text-shadow: 3px 3px 2px black;
  margin: 20px;
}

.container p {
  text-align: left;
  font-size: 1.28rem;
  text-shadow: 3px 3px 6px black;
  padding: 20px;
}


/* profiles */

.dev-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* border: 2px solid green; */
  width: 100vw;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

.dev-cont img {
  width: 150px;
  height: 150px;
  margin: 2px 25px;
  border: 4px dotted var(--primary-color);
  border-radius: 150px;
}

.dev-cont h3 {
  text-align: center;
  margin: 0px;
  font-size: var(--insider-heading);
  color: var(--primary-color);
  text-shadow: 2px 2px 3px black;
}

.container::before {
  content: "";
  position: absolute;
  background: url("../img/backgrounds/aboutbg.jpg") no-repeat center
    center/cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  height: 100vh;
  width: 100%;
  opacity: 0.8;
}

.container::after {
  content: "";
  position: absolute;
  background-color: black;
  height: 100vh;
  width: 100vw;
  width: 100%;
  height: 100%;
  z-index: -1;
  height: 100vh;
  width: 100%;
  opacity: 0.5;
}
