@import "utils.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Making section flex */
.ourcourses {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Working with Courses */
.courses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 300px;
  margin: 70px;
  border-radius: 20px;
  /* border: 1px solid black; */
  box-shadow: 1px 1px 5px black, -1px -1px 5px black;
}

.courses img {
  width: 100px;
  height: 100px;
}
.headcourse {
  text-align: center;
  color: var(--primary-color);
  margin-top: 40px;
  font-size: var(--secondary-heading);
  font-family: var(--heading-font);
  text-shadow: 2px 2px 3px black;
}
.courses h3 {
  margin: 20px;
  color: var(--primary-color);
  font-size: var(--insider-heading);
  font-weight: 900;
}

.courses .btn {
  width: 120px;
  font-size: 16px;
  border-radius: 20px;
}


