@import "utils.css";
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7f7f7;
}

body .services {
  text-align: center;
  font-size: var(--secondary-heading);
  font-family: var(--heading-font);
  margin-top: 40px;
  color: var(--primary-color);
  text-shadow: 2px 2px 3px black;
}

.cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cont .card {
  height: 406px;
  width: 300px;
  margin: 50px 150px;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 1px 1px 5px black;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cont .card img {
  height: 100px;
  width: 100px;
}
.cont .card h5 {
  color: var(--primary-color);
  font-size: var(--insider-heading);
  padding: 10px;
}

.cont .card p {
  padding: 18px;
}

.cont .card .btn {
  width: 140px;
  font-size: 16px;
  border-radius: 20px;
}

/* Pricing plans */

#price-heading {
  text-align: center;
  margin: 28px;
  font-size: var(--secondary-heading);
  font-family: var(--heading-font);
  color: var(--primary-color);
  text-shadow: 2px 2px 3px black;
}

.plans {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pricecard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  box-shadow: 1px 1px 5px black;
  background-color: white;
  margin: 10px;
  padding: 40px;
  border-radius: 20px;
}

.pricecard ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricecard ul .cut {
  text-decoration: line-through;
}

.pricecard h2 {
  color: var(--primary-color);
}

.pricecard .btn {
  width: 140px;
  border-radius: 20px;
}
