@import "utils.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* sign in page */
#signin {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  margin: 80px auto;
}

#signin img {
  height: 100px;
  width: 100px;
  border: 2px solid var(--primary-color);
  border-radius: 80px;
  border: 3var (--primary-color);
  position: relative;
  top: -50px;
}

#signin form {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* z-index: -333; */
}

#signin h2 {
  color: var(--primary-color);
}

#signin form input {
  font-size: 16px;
  margin-bottom: 35px;
  padding: 10px;
}

/* sign up page */

#signup h2 {
  color: var(--primary-color);
  margin-top: 20px;
}

#signup {
  width: 400px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  margin: 80px auto;
}

#signup form {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* z-index: -333; */
}

#signup form input {
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
}

#signup .btn,
#signin .btn {
  border-radius: 20px;
  width: 140px;
  height: 40px;
}
